body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 196, 169);
}
.container{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 45vh;
    width:30%
}
.button{
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
}